.tesxts {
  display: flex;
  justify-content: start;
  align-items: center;
}
.tesxts p {
  font-weight: 500;
  font-size: 20px;
  margin: 0 30px;
  display: grid;
}
.tesxts p span {
  font-weight: 200;
  font-size: 15px;
  color: grey;
  /* margin: 5px 0; */
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.res {
  display: flex;
  align-items: center;
  margin: 25px 0;
}
